    @use "../foundation/variables" as v;

    form {
        color: v.$black;

        .form_group {
            margin: 15px 0;
            display: flex;
            position: relative;

            input,
            textarea,
            .radio_wrapper,
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                flex: 1;
                line-height: 2;
                color: v.$black;
                text-align: left;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            input,
            textarea,
            select {
                border-bottom: solid 2px v.$acc100;
            }

            input[type="date"] {
                background-color: transparent;

                &::-webkit-date-and-time-value {
                    text-align: left !important;
                    margin: 0 !important;
                    width: 100%;
                }
            }

            >label {
                flex: 0.5;
                line-height: 2;
            }

            .req::after {
                content: "*";
                color: #d95252;
            }

            .yen_char {
                position: absolute;
                right: 2.5px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 14px;
            }

            .category::after {
                content: '\e313';
                font-family: "Material Symbols Rounded";
                position: absolute;
                color: v.$black;
                font-size: 20px;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
            }

            .radio_wrapper {
                border-bottom: none;
                margin-bottom: 10px;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;

                input[type="radio"] {
                    display: none;
                }

                label {
                    flex: initial;
                    width: 100%;
                    padding: 6px 20px;
                    line-height: 1.25;
                    border: 1px solid v.$acc200;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    color: v.$acc300;
                    text-align: center;

                    &:hover {
                        border: 1px solid v.$acc210;
                        background: v.$acc200;
                    }
                }

                input[type="radio"]:checked+label {
                    background-color: v.$acc300;
                    border-color: v.$acc300;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }

        button {
            padding: 15px 30px;
            border: 1px solid v.$acc200;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: v.$acc200;
                border-color: v.$acc210;
                font-weight: 500;
            }
        }
    }

    form::-webkit-date-and-time-value {
        text-align: left;
    }