@use 'sass:map'; // 1. モジュールを読み込む

$breakpoints: (
    'sm': 'screen and (max-width: 599px)',
    'tb': 'screen and (min-width: 600px)',
    ) !default;

// メディアクエリのmixin
@mixin mq($breakpoint) {

    // 2. map.get() に変更する
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}

// カラーパレット
$white: #FEFAF6;
$gray: #999999;
$black: #222;

$acc100: #f7f1e9;
$acc110: #efeeec;
$acc120: #ded9d2;

$acc200: #EADBC8;
$acc210: #DAC0A3;

$acc300: #102C57;

$green: #3d9b3d;
$warning: #d95252;
$warning-light: #f5b6b6;
$warning-bg: #f7dcdc;

* {
    margin: 0 auto;
}


html {
    max-width: 1440px;
    padding: 0 5%;
    font-family: 'Inter','Noto Sans JP',sans-serif;
    color: $black;
}

body {
    background: $white;
}

.header {
    height: 100px;
    display: flex;
    justify-content: flex-start; //明示的に左揃えに

    &__logo-svg {
        height: 65px;
        width: auto;
        display: inline-block;
        margin-top: 17.5px;
        margin-bottom: 17.5px;
        margin-left: 0;
        position: relative;
        img{
            height: 100%;
            width: auto;
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    &.no-display {
        display: none;
    }
}

main{
    max-width: 800px;
    margin-bottom:50px;

    .title{
        margin:30px 0 50px;
        &__text{
            font-size: 30px;
            font-weight: 500;
        }
        &__date{
            font-size:14px;
            color: $gray;
            margin-top:10px;
            letter-spacing: 0.025rem;
        }
    }
    .terms{
        line-height: 1.75;
        p{
            margin-bottom:5px;
            a{
                text-decoration: underline;
                text-underline-offset: 5px;
                color: $acc300;
                &:hover{
                    color: $gray;
                    text-decoration-thickness: 2px;
                }
            }
        }
        h2{
            font-size:18px;
            font-weight: 500;
            margin:20px 0 5px;
        }
        ol{
            list-style-type:lower;
            padding-left: 1.5rem;
            li{
                margin-bottom:5px;
            }
        }
        ul{
            list-style-type: disc;
            padding-left: 1.5rem;
            li {
                margin-bottom: 5px;
            }
        }
        .iframe-wrapper{
            margin: 30px 0;
        }
    }
    .form{
        line-height: 1.75;
        .iframe-wrapper {
                margin: 30px 0;
            }
    }
    .help{
        line-height: 1.75;
        p{
            margin-bottom:5px;
            a{
                text-decoration: underline;
                text-underline-offset: 5px;
                color: $acc300;
                &:hover{
                    color: $gray;
                    text-decoration-thickness: 2px;
                }
            }
            img {
                height: 28px;
                width: auto;
                padding: 0 10px;
            }
        }
        h2{
            font-size:18px;
            font-weight: 500;
            margin:20px 0 5px;            
        }
        
        &__accordion {
            border-bottom: 1px solid #e5e7eb; // 区切り線など（任意）

            // 見出し部分（クリックエリア）
            &-header {
                align-items: center;
                padding: 15px 0;
                cursor: pointer;
                list-style: none; // デフォルトの三角矢印を消す
                position: relative;

                // Safari用のデフォルト矢印消去
                &::-webkit-details-marker {
                    display: none;
                }

                h2 {
                    margin: 0;
                    font-size: 1.25rem;
                }
            }

            // 開閉アイコンの回転アニメーション
            &-icon {
                transition: transform 0.3s ease;
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'Material Symbols Rounded';
                padding:7px;
                background: $acc100;
                border: solid 1px $acc200;
                border-radius: 50%;
                span{
                    font-size: 20px;
                }
            }

            // 開いている時のアイコンの向き
            &[open] &-icon {
                transform: translateY(-50%) rotate(-180deg);
            }
        }
        
        &__list{
            list-style-type: none;
            counter-reset: list-number;
            position: relative;
        }

        &__list-item{
            margin-bottom: 30px;
            counter-increment: help-counter;
            position: relative;
            padding-left:3rem;

            //マーカー部分
            &::before{
                content: counter(help-counter);
                font-weight: 600;
                border-radius: 50%;
                background-color: $acc200;
                border: solid 1px $acc210;
                position: absolute;
                left: 0;
                top: 0;
                width: 30px;
                height: 30px;
                box-sizing: border-box; 
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
            }
            //マーカー下の線
            &::after{
                content: "";
                position: absolute;
                left: 14px; // 円(30px)の中心（15px - 線幅2px/2）
                top: 45px;  
                bottom: -10px;
                
                /* 点線の場合 */
                border-left: 2px dotted $acc120; 

                /* 破線にしたい場合はこちら */
                // border-left: 2px dashed $acc210;
            }
        }
        

        &__img-grid-wrapper{
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:15px;
            margin:15px 0;
            @include mq(sm) {
                grid-template-columns: 1fr;
            }
        }
        &__img-wrapper{
            width: 100%;
            height: auto;
            img{
                width: 100%;
                height: auto;
                border:solid 1px $acc110;
                border-radius: 10px;
            }
        }
    }
    .callout {
        margin:15px 0;
        padding: 15px;
        background-color: $acc100;
        border: solid 1px  $acc200;
        border-radius: 10px;
        display: flex;
        align-items: flex-start; // 上揃えにし、1行目とアイコン位置を合わせる
        gap: 12px;

        @include mq(sm) {
            padding: 12px;
            display: block;
        }

        &__icon {
            font-family: 'Material Symbols Rounded';
            font-size: 28px;
            line-height: 28px;
            flex-shrink: 0;
            color: $acc300;
        }

        &__text {
            flex: 1;
            p {
                line-height: 1.5;
            }
            h3{
                font-size:18px;
                font-weight: 600;
                margin-bottom:5px;
            }
        }
    }
}

footer {
    height: 100px;
    color: $gray;

    @include mq(sm) {
        height: auto;
        margin-bottom: 30px;
    }

    .footer__copy {
        line-height: 100px;
        font-size: 14px;

        @include mq(sm) {
            line-height: 1;
            margin-bottom: 30px;
        }
    }

    .footer__nav-list {
        line-height: 100px;
        text-align: right;
        margin-top: -100px;

        @include mq(sm) {
            line-height: 2;
            margin-top: 0;
            text-align: left;
        }
    }

    .footer__nav-list-item {
        display: inline-block;
        margin-left: 15px;

        @include mq(sm) {
            margin-left: 0;
            margin-right: 15px;
        }

        a {
            font-size: 14px;
            padding: 14px 0;

            &:hover {
                color: $acc300;
                font-weight: 500;
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }
    }
}