* {
  margin: 0 auto;
}

#auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Albert Sans", sans-serif;
  max-width: 1360px;
}
#auth-container .auth_box {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  width: 90%;
  max-width: 400px;
  text-align: center;
}
#auth-container .auth_box h2 {
  margin-bottom: 15px;
}
#auth-container .auth_box .auth-copyright {
  font-size: 12px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #a8a8a8;
}
#auth-container .auth_box .login-page-link {
  font-size: 12px;
  position: fixed;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #a8a8a8;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#auth-container .auth_box .login-page-link a {
  margin: 0 10px;
}
#auth-container .auth_box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #f7f1e9;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Albert Sans";
}
#auth-container .auth_box input:focus {
  border-color: #102C57;
  outline: none;
}
#auth-container .auth_box button {
  width: 100%;
  padding: 12px;
  background: #102C57;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#auth-container .auth_box button:hover {
  opacity: 0.9;
}
#auth-container .auth_box #auth-toggle {
  margin-top: 20px;
  font-size: 13px;
  color: #102C57;
  cursor: pointer;
  text-decoration: underline;
}