$breakpoints: (
    'sm': 'screen and (max-width: 599px)',
    'tb': 'screen and (min-width: 600px)',
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$white: #FEFAF6;
$black: #222;
$gray: #9e9e9e;

$acc1: #f7f1e9;
$acc1-3: #ded9d2;
$acc1-2: #efeeec;
$acc2: #EADBC8;
$acc3: #DAC0A3;
$acc4: #102C57;

$green: #3d9b3d;
$warning: #d95252;
$warning-light: #f5b6b6;

* {
    margin: 0 auto; 
}
html{
    background: $white;
    color:$black;
    font-family:'Noto Sans JP', sans-serif;
    width: 90%;
    max-width: 400px;
}
body{
    position: relative;
    margin:0 auto;
}

header {
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    .header_wrapper {
        position: relative;
        z-index: 3;
        line-height: 100px;
    }
    .hedaer_logo {
        position: relative;
        z-index: -1;

        h1 {
            font-size: 22px;
            font-weight: 500;
            display: inline-block;
            margin-left: 60px;
            font-family: 'Albert Sans',
                sans-serif;

            @include mq(sm) {
                margin-left: 45px;
                font-size: 20px;
            }

            span {
                font-size: 12px;
                color: #818181;
                margin-left: 10px;
            }
        }

        .logo_img {
            width: 45px;
            height: 45px;

            @include mq(sm) {
                width: 35px;
                height: 35px;
            }

            display:inline-block;
            position: absolute;
            top:47.5%;
            left:0;
            transform: translateY(-50%);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


main{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:0%;
    width: 100%;
}

.auth_box{
    width: 100%;
    border: solid 1px $acc2;
    background-color: $acc1;
    border-radius: 20px;
    padding:40px 50px 50px;
    @include mq(sm){
        padding:30px 30px 40px;
    }
    .title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 50px;    
    }
    form{
        input,button{
            display:block;
            width: 100%;
            border-radius: 10px;
        }
        input{
            border: solid 1px $acc2;
            padding:10px;
            font-family: 'Inter', sans-serif;
            &:nth-of-type(1){
                margin-bottom:20px;
            }
            &:focus{
                border: solid 1px $acc4;
                outline:0;
            }
        }
        button{
            margin-top:30px;
            width:100%;
            padding:15px 0;
            background: $acc4;
            text-align: center;
            color:$white;
            transition: .2s;
            border:solid 1px $acc4;
            &:hover{
                background: $acc1;
                border:solid 1px $acc4;
                color:$black;
                font-weight: 600;
            }
        }
    }
}
.resetPass_btn_wrapper{
    text-align: right;
    margin-top: 15px;
}
.register_btn_wrapper{
    text-align: center;
    margin-top:30px;
}

.register_btn, .resetPass_btn {
    color: $acc4;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-align: center;
    &:hover {
        text-decoration-thickness: 2px;
    }
}
.resetPass_btn {
    color: $gray;
    font-size:12px;
}
footer{
    position: absolute;
    bottom:0;
    width:100%;
    left:0%;
    padding-bottom:20px;
    .auth-link_wrapper{
        margin: 50px 0 30px;
        text-align: center;
    }
    .auth-link{
        padding:5px 10px;
        display:inline-block;
        text-align: center;
        a{
            color:$gray;
            text-decoration: underline;
            text-underline-offset: 3px;
            text-decoration-skip-ink: none;
            font-size:12px;
            &:hover{
                text-decoration-thickness: 3px;
            }
        }
    }
    .copyright{
        font-family: 'Inter', sans-serif;
        color:$gray;
        font-size:12px;
        margin-top:-16px;
        text-align: left;
    }
    #app-version{
        font-family: 'Inter', sans-serif;
        color: $gray;
        font-size: 12px;
        text-align: right;
    }
}


//===
//各種モーダル
//===
.modal-wrapper{
    position: fixed;
    width: 100%;
    height:100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.1);
    top:0;
    left:0;
    display:none;
    &.active{
        display:block;
    }
    h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.5;
    }
}
#signup-modal_wrapper {
    .modal {
        position: fixed;
        width: 500px;
        background: $white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        padding: 40px 50px;
        box-shadow: (0px 0px 30px 10px rgba(0, 0, 0, 0.05));

        .close_btn_wrapper {
            position: relative;

            .close_btn {
                position: absolute;
                background: $acc2;
                width: 50px;
                height: 50px;
                right: 0px;
                top: 0px;
                border-radius: 50%;
                transition: .2s;

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: 'Material Icons';
                }

                &:hover {
                    background: $warning;

                    span {
                        color: $white;
                    }
                }
            }


        }

        .logo_wrapper {
            margin-bottom: 30px;

            div {
                height: 50px;
                display: inline-block;

                span {
                    width: 50px;
                    height: 50px;
                    display: inline-block;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                h1 {
                    line-height: 50px;
                    margin: -48px 0 0 60px;
                    font-size: 22px;
                    font-family: 'Albert Sans', sans-serif;
                    font-weight: 500;
                }
            }
        }

        #signup-form {
            margin: 0;
        }

        p {
            font-size: 14px;
            text-align: center;
            margin-bottom: 30px;
            line-height: 1.5;
        }

        input[type="email"],
        input[type="password"] {
            display: block;
            border: solid 1px $acc2 ;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
            font-family: 'Inter', sans-serif;
        }

    }

    #signup-submit-btn {
        margin-top: 30px;
        width: 100%;
        padding: 15px 0;
        background: $acc4;
        text-align: center;
        color: $white;
        transition: .2s;
        border: solid 1px $acc4;
        border-radius: 10px;

        &:hover {
            background: $white;
            border: solid 1px $acc4;
            color: $black;
            font-weight: 600;
        }
    }
}
#loginMFA-modal_wrapper{
    .modal{
        position: fixed;
        width: 400px;
        background: $white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        padding: 40px 50px;
        box-shadow: (0px 0px 30px 10px rgba(0, 0, 0, 0.05));
        #login-mfa-code{
            width: 100%;
            font-size:20px;
            font-family: 'Inter', sans-serif;
            margin-bottom: 30px;
            padding:15px 0;
            border:solid 1px $acc1-3;
            border-radius: 10px;

        }
        #btn-login-mfa-verify{
            display:block;
            background: $white;
            width: 100%;
            padding:15px 0;
            border-radius: 10px;
            border: solid 1px $acc1-3;
            transition: .2s;
            &:hover{
                background: $acc4;
                color:$white;
            }
        }
    }
}