$breakpoints: (
    'sm': 'screen and (max-width: 599px)',
    'tb': 'screen and (min-width: 600px)',
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$white: #FEFAF6;
$black: #222;

$acc1: #f7f1e9;
$acc1-3: #ded9d2;
$acc1-2: #efeeec;
$acc2: #EADBC8;
$acc3: #DAC0A3;
$acc4: #102C57;

$green: #3d9b3d;
$warning: #d95252;
$warning-light: #f5b6b6;

* {
    margin: 0 auto;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    font-family: 'Noto Sans JP',
        sans-serif;
    background: $white;
}

body.no-scroll {
    overflow: hidden;
}

header {
    padding: 0 3.5%;

    .header_wrapper {
        position: relative;
        z-index: 3;
        line-height: 100px;
    }

    @include mq(tb) {
        margin: 0 auto;
        max-width: 1360px;
    }

    @include mq(sm) {
        margin: 0 auto;
        max-width: 1360px;
        padding: 0 5%;
    }


    .hedaer_logo {
        position: relative;
        z-index: -1;

        h1 {
            font-size: 22px;
            font-weight: 500;
            display: inline-block;
            margin-left: 60px;
            font-family: 'Albert Sans',sans-serif;

            @include mq(sm) {
                margin-left: 45px;
                font-size: 20px;
            }

            span {
                font-size: 12px;
                color: #818181;
                margin-left: 10px;
            }
        }

        .logo_img {
            width: 45px;
            height: 45px;

            @include mq(sm) {
                width: 35px;
                height: 35px;
            }

            display:inline-block;
            position: absolute;
            top:47.5%;
            left:0;
            transform: translateY(-50%
        );

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.header__navlist {
    list-style: none;
    text-align: right;
    margin: -100px 70px 0 0;
    letter-spacing: 0.05rem;

    li {
        display: inline;
        margin-left: 20px;
        position: relative;

        a {
            text-decoration: none;
            color: #000;
            padding: 5px 0;

            &:visited {
                color: #000;
            }

            &:hover {
                border-bottom: $acc3 solid 2px;
            }
        }
    }
}

.menu_icon {
    background: $acc1;
    position: absolute;
    right: 0%;
    width:44px;
    height:44px;
    @include mq(sm) {
        right: 0%;
        top: 12.5px;
    }
    span{
        font-family: 'Material Icons';
        font-feature-settings: 'liga' 1; /* iOSで合字（アイコン化）を強制的に有効にする */
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }

    top: 25px;
    padding: 13px 13px;
    border-radius: 10px;
    transition: .2s;
    border: solid 1px $acc2;

    &:hover {
        background: $acc2;
        border: solid 1px $acc3;
    }
}

@include mq(sm) {
    .header__navlist {
        display: none;
    }
}

.sm_header_navlist {
    display: flex;
    margin-top: 0px;
    &.remove{
        display:none;
    }
    .sm_navlist_item {
        flex: 1;
        font-size: 13px;

        &.center {
            border-left: solid 3px $acc1;
            border-right: solid 3px $acc1;
        }


        text-align: center;
        line-height: 40px;

        a {
            text-decoration: none;
            color: #000;

            &:visited {
                color: #000;
            }

            &:hover {
                border-bottom: $acc3 solid 2px;
            }
        }
    }
}

@include mq(tb) {
    .sm_header_navlist {
        display: none;
    }
}

.menu_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.1);

    &.active {
        display: block;
    }

    .menu_container {
        width: 100%;
        height: 650px;
        border-radius: 0 0px 50px 50px;
        @include mq(sm) {
            height: 90%;
            border-radius: 0 0 30px 30px;
        }

        background: $white;
        z-index: 2;
        box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.1);

        .menu_inner {
            max-width: 1360px;
            height: 650px;
            padding: 100px 3.5% 0;
            display: flex;

            @include mq(sm) {
                padding: 100px 0% 0;
                height: 100%;
                display:block;
            }


            .menubar {
                border-right: solid 2px $acc1;
                text-align: left;
                flex: 1;
                @include mq(sm){
                    display:flex
                }

                .menu_btn_wrapper {
                    padding: 13px 0;
                    font-family: 'Noto Sans JP', sans-serif;
                    position: relative;

                    .line_break {
                        display: none;
                    }

                    @include mq(sm) {
                        font-size: 14px;
                        text-align: center;
                        border-top: solid $acc1 2px;
                        border-bottom: solid $acc1 2px;
                        border-left: solid $acc1 1px;
                        border-right: solid $acc1 1px;
                        text-decoration: none;
                        padding: 20px 0;
                        width: 100%;

                        .line_break {
                            display: inline;
                            line-height: 1.5
                        }
                    }

                    &.small {
                        font-size: 12px;
                        padding: 8px 0;

                        @include mq(sm) {
                            display: none;
                        }

                        span {
                            font-family: 'Material Icons';
                            padding-left: 7.5px;
                            font-size: 14px;
                            text-decoration: none;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);


                        }
                    }

                    &:nth-of-type(5) {
                        margin-top: 25px;
                    }

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: $acc4;
                        text-underline-offset: 5px;
                        text-decoration-skip: 1.5px;
                        text-decoration-thickness: 2px;
                        color: $acc4;
                        font-weight: 500;

                        @include mq(sm) {
                            text-decoration: none;
                            background: $acc2;
                            color: $black;
                        }
                    }

                    &.active {
                        text-decoration: underline;
                        text-decoration-color: $acc4;
                        text-underline-offset: 5px;
                        text-decoration-skip: 1.5px;
                        text-decoration-thickness: 2px;
                        color: $acc4;
                        font-weight: 500;

                        @include mq(sm) {
                            text-decoration: none;
                            background: $acc2;
                            color: $black;
                            font-weight: 500;
                        }
                    }
                }
            }

            .menu_detail {
                padding-left: 30px;
                flex:4;

                @include mq(sm) {
                    padding:5vw 5% 0;
                    margin-top: -2px;
                    border-top: solid 2px $acc1;
                }
            }
        }
    }

    .menu_detail {
        max-height: calc(90dvh - 100px - 81px);
        overflow: hidden;

        @include mq(sm) {
            height: 100%;
        }

        overflow-y: scroll;
        scrollbar-width: 0;
        scrollbar-width: none;

        .menu_item_container {
            display: none;

            &.active {
                display: block
            }

            .scroll-container::-webkit-scrollbar {
                display: none;
            }

            ::-webkit-scrollbar {
                width: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background: $acc2;
            }

            h3 {
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;

                span {
                    font-size: 14px;
                    display: block;
                    font-weight: 400;
                    margin-top: 10px;
                    line-height: 1.5
                }
            }

            h4 {
                font-family: 'Noto Sans JP', sans-serif;
                font-weight: 500;
                margin-bottom: 15px;
            }
        }

        #category_settings {
            .flex_wrapper {
                display: flex;
                margin-top: 10px;
                gap: 45px;

                @include mq(sm) {
                    display: block;
                }

                .category_box {
                    flex: 1;

                    @include mq(sm) {
                        margin-bottom: 30px;
                    }

                    .category-list {
                        height: 300px;
                        overflow: hidden;
                        overflow-y: scroll;

                        @include mq(sm) {
                            overflow: visible;
                            height: auto;
                        }

                        &::-webkit-scrollbar {
                            width: 2px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: $acc2;
                        }

                        scrollbar-width: 1px;
                        scrollbar-color: $acc1-3;
                    }

                    input {
                        border: solid 1px $acc2;
                        background: $acc1;
                        padding: 10px;
                        border-radius: 10px;
                        width: calc(100% - 96px - 10px - 15px);

                        @include mq(sm) {
                            width: calc(100% - 96px - 1.5%);
                            font-size: 14px;
                        }
                    }

                    .add_btn {
                        border: solid 1px $acc1-3;
                        padding: 10px 15px;
                        border-radius: 10px;

                        @include mq(sm) {
                            font-size: 14px;
                            margin-left: 1.5% !important;
                        }

                        margin-left: 10px;
                        transition: .2s;

                        &:hover {
                            background: $acc4;
                            color: $white;
                        }
                    }
                }

                .category-form {
                    margin-bottom: 30px;
                }

                ul {
                    @include mq(sm) {
                        margin-top: 15px;
                    }

                    height: calc(600px - 100px);

                    .category_item {
                        font-size: 14px;
                        margin: 5px 0;
                        border: solid 1px $acc1-3;
                        padding: 10px 13px;
                        position: relative;
                        border-radius: 10px;
                        width: calc(100% - 10px);

                        @include mq(sm) {
                            width: 100%;
                            padding: 10px 10px;
                        }

                    }

                    button {
                        position: absolute;
                        right: 13px;
                        top: 50%;

                        @include mq(sm) {
                            right: 10px;
                        }

                        transform: translateY(-50%);
                        padding: 5px 10px;
                        background: $warning-light;
                        border-radius: 50px;
                        font-family: 'Noto Sans JP',
                        sans-serif;
                        font-size: 10px;

                        &:hover {
                            background: $warning;
                            color: $white;
                        }

                    }
                }
            }
        }

        #subsc_settings {
            width: 100%;

            .form_group {
                display: flex;
                margin-bottom: 15px;
                position: relative;

                label {
                    flex: 1;
                    line-height: 40.39px;

                    @include mq(sm) {
                        font-size: 14px;
                    }
                }

                @include mq(sm) {
                    gap: 7.5px;
                    flex: 1;
                }

                .input_wrapper {
                    flex: 3;

                    @include mq(sm) {
                        flex: 2.5;
                    }

                    input, select {
                        width: 100%;
                        border: solid 1px $acc2;
                        background: $acc1;
                        padding: 10px;
                        border-radius: 10px;
                    }

                    div {
                        display: inline-block;
                        padding-right: 15px;
                        height: 1px; // 調整用
                    }

                    #subsc-day {
                        width: calc(100% - 51px);
                    }
                }

                &::after {
                    display: inline-block;
                    position: absolute;
                    color: $black;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                }

                &:nth-of-type(2)::after {
                    content: '円';
                }

                &:nth-of-type(3)::after {
                    content: '\e313';
                    font-family: 'Material Icons';
                    font-size: 20px;
                    right: 13.5px;
                }
            }

            form button {
                border: solid 1px $acc1-3;
                margin-bottom: 30px;
                padding: 15px 30px;
                border-radius: 10px;

                @include mq(sm) {
                    font-size: 14px;
                    margin-left: 1.5% !important;
                }

                transition: .2s;

                &:hover {
                    background: $acc4;
                    color: $white;
                }
            }

            .subsc-info {
                display: flex;

                span {
                    flex: 1;
                }
            }

            .subsc-table-wrapper {
                position: relative;
                overflow: hidden;
                overflow-x: scroll;
            }

            .subsc-table {
                width:100%;
                min-width: 500px;
                font-size: 14px;
                overflow: hidden;
                overflow-x: scroll;

                thead {
                    background: $acc2;

                    th {
                        padding: 10px 15px;
                        font-weight: 500;
                    }
                }

                tbody {
                    td {
                        padding: 7.5px 15px;
                        border-top: solid 1px $acc1-2;

                        button {
                            padding: 5px 10px;
                            background: $warning-light;
                            border-radius: 50px;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 10px;

                            &:hover {
                                background: $warning;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        #account_settings{
            .setting_items{
                margin-bottom: 30px;
            }
            #mfa-unregistered-area{
                display:none;
                &.active{
                    display:block;
                }
                #btn-mfa-enroll{
                    border:solid 1px $acc1-3;
                    padding:10px 20px;
                    border-radius: 10px;
                    transition: .2s;
                    &:hover{
                        background: $acc4;
                        color:$white;
                    }
                }
                #mfa-setup-area{
                    display:none;
                    &.active{
                        display:block;
                    }
                    p{
                        margin: 20px 0 20px 0;
                    }
                    code{
                        background-color: $acc1-3;
                        margin:10px 0;
                        padding:15px 20px;
                        border-radius: 7.5px;
                        display:block;
                    }
                    input{
                        border: solid 1px $acc1-3;
                        padding:10Px 20px;
                        border-radius: 10px;
                        background: $acc1;
                        &:focus{
                            background: $acc2;
                            outline:0;
                            border: solid 1px $acc4;
                        }
                    }
                    button{
                        border: solid 1px $acc1-3;
                        padding: 10px 20px;
                        border-radius: 10px;
                        margin-left:15px;

                        @include mq(sm) {
                            font-size: 14px;
                            margin-left: 1.5% !important;
                        }

                        transition: .2s;

                        &:hover {
                            background: $acc4;
                            color: $white;
                        }
                    }
                }
            }
            #mfa-registered-area{
                display:none;
                &.active{
                    display:block;
                }
                .stats{
                    position: relative;
                    padding-left:20px;
                    display:inline-block;
                    border-radius: 10px;
                    font-size: 16px;
                    margin-bottom:10px;
                    
                    &::before{
                        content:'';
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        position: absolute;
                        background: $green;
                        top:55%;
                        left:0px;
                        transform:translateY(-50%);
                    }
                }
                .date{
                    font-size:14px;
                }
                #btn-mfa-unenroll{
                    border: solid 1px $acc1-3;
                    padding: 10px 20px;
                    border-radius: 10px;
                    margin:15px 0 30px;
                    @include mq(sm) {
                        font-size: 14px;
                        margin-left: 1.5% !important;
                    }
                    transition: .2s;
                    &:hover {
                        background: $warning;
                        color: $white;
                    }
                }
            }
        }

        #other_settings {
            li {
                margin-bottom: 20px;
                text-decoration-thickness: 1px;
                text-underline-offset: 5px;
                border: solid 1px $acc2;
                border-radius: 10px;
                padding: 10px 15px;
            }

            .link_text {
                font-family: 'Noto Sans JP', sans-serif;
                color: $acc4;

                span {
                    font-family: 'Material Icons';
                    font-size: 14px;
                    padding-left: 5px;
                }
            }
        }
    }


}




}

main {
    h2 {
        font-weight: 500;
        margin-bottom: 25px;
        font-size: 20px;
    }

    section {
        padding: 30px 3.5% 90px;
        margin: 0 auto;
        max-width: 1360px;

        @include mq(sm) {
            margin: 0 auto;
            max-width: 1360px;
            padding: 30px 5% 90px;
        }
    }

    .year_select_wrapper {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: solid 2px $acc1;

        button {
            border: solid 2px $acc1;
            padding: 5px;
            border-radius: 10px;
            font-size: 20px;
            transition: .2s;

            &:hover {
                background-color: $acc4;
                border-color: $acc4;
                color: #fff;
            }
        }

        #display-year {
            font-family: 'Inter', sans-serif;
            margin: 0 15px;
            font-weight: 600;
        }

        #next-year::before {
            content: '\e315';
            font-family: 'Material Icons';
        }

        #prev-year::before {
            content: '\e314';
            font-family: 'Material Icons';
        }
    }

    .month_select_wrapper {
        display: flex;
        overflow-x: auto; // 横に溢れたらスクロールさせる
        white-space: nowrap; // 改行させない
        gap: 10px;
        margin-bottom: 15px;

        &::-webkit-scrollbar {
            display: none;
        }

        .month_btn {
            padding: 10px 20px;
            border: 2px solid $acc1;
            border-radius: 10px;
            cursor: poInter;
            transition: all 0.3s ease;
            color: $acc4;
            text-align: center;
            flex-shrink: 0;

            &:hover {
                border: 2px solid $acc3;
                font-weight: 500;
            }

            &.active {
                background-color: $acc4;
                border-color: $acc4;
                color: #fff;
                font-weight: 500;
            }
        }
    }

    .smm_grid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 155px 155px 155px;
        gap: 20px;

        @include mq(sm) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 160px 160px 160px 500px;
            gap:7.5px;
        }

        .grid_inner {
            background: $acc1 ;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            padding: 15px;
            position: relative;
            @include mq(sm){
                padding:12.5px;
            }

            .grid_yen {
                font-family: 'Inter', sans-serif;
                font-size: clamp(25px, 2.5vw, 35px); //clamp(最小値, 可変部分, 最大値）
                font-variant-numeric: tabular-nums; // 等幅
                color: $black;

                @include mq(sm) {
                    font-size: 25px;
                }

                top:50%;
                margin:10px 0 10px 0;
                letter-spacing: -0.125rem;

                &::before {
                    content: '\0a5';
                    font-size: 28px;

                    @include mq(sm) {
                        font-size: 20px;
                    }

                    padding-right: 5px;
                }

            }

            #carry-over-display {
                font-size: 13px;
                border: solid 1px $acc2;
                padding: 10px;
                border-radius: 5px;
                color: #686868;
            }

            .line {
                display: block;
                width: 100%;
                height: 1px;
                background: $acc2;
                margin: 12px 0 15px 0;
            }

            #expense-categories-list{
                max-height:180px;
                @include mq(sm){
                    max-height: 195px;
                }
                overflow:hidden;
                overflow-y:scroll;
                &::-webkit-scrollbar {
                    width: 2px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $acc2;
                }

                scrollbar-width: 1px;
                scrollbar-color: $acc1-3;
            }

            .grid_inner-flex_wrapper {
                display: flex;
                margin-bottom: 3px;
                font-size: 12px;

                .grid_inner-flex_wrapper {
                    flex: 1;
                    color: $black;
                    p {
                        font-family: 'Inter', sans-serif;
                        font-variant-numeric: tabular-nums; // 等幅
                        letter-spacing: -0.04rem;
                    }
                    &.label{
                        flex:1.35;
                        font-size:11px;
                    }
                }
            }

            .chart {
                flex: 1;
                /* 追加：親の余った高さをすべて使う */
                width: 100% !important;
                /* 重要：px指定を消して100%に */
                height: 100% !important;
                position: relative;
                padding: 20px 0;

                &.line-chart {
                    width: 100% !important;
                    height: 100% !important;
                }

                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            &.amount {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }

            &.s2 {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            }

            &.s3 {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            &.s4 {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }

            &.graph {
                grid-column: 3 / 5;
                grid-row: 1 / 4;
                display: flex;
                /* 追加：中身を縦に並べる */
                flex-direction: column;

                @include mq(sm) {
                    grid-column: 1 / 3;
                    grid-row: 4 / 5;
                }
            }

        }
    }

    form {
        margin: 50px 0;
        color: $black;

        .form_group {
            margin: 15px 0;
            display: flex;
            position: relative;

            input,
            textarea,
            .radio_wrapper,
            select {
                flex: 1;
                line-height: 2;
                color: $black;
                text-align: left;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
            input,
            textarea,
            select {
                border-bottom: solid 2px $acc1;
            }

            .radio_wrapper{
                border-bottom:none;
            }

            label {
                flex: 0.5;
                line-height: 2;
            }

            .req::after {
                content: "*";
                color: #d95252;
            }

            .yen_char {
                position: absolute;
                right: 2.5px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 14px;
            }

            .category::after {
                content: '\e313';
                font-family: "Material Icons";
                position: absolute;
                color: $black;
                font-size: 20px;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);

            }

            .radio_wrapper {
                margin-bottom: 10px;

                label {
                    // 非アクティブ（通常時）のスタイル
                    padding: 5px 20px;
                    border: 2px solid $acc1;
                    border-radius: 10px;
                    cursor: poInter;
                    transition: all 0.3s ease;
                    color: $acc4;

                    &:hover {
                        border: 2px solid $acc3;
                    }
                }

                // アクティブ（チェックされた時）のスタイル
                // 「チェックされたinputのすぐ隣にあるlabel」を指す
                input[type="radio"]:checked+label {
                    background-color: $acc4; // 好きな色に
                    border-color: $acc4;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }

        button {
            padding: 15px 30px;
            border: 2px solid $acc1;
            border-radius: 10px;
            cursor: poInter;
            transition: all 0.3s ease;
            color: $acc4;

            &:hover {
                background-color: $acc4; // 好きな色に
                border-color: $acc4;
                color: #fff;
                font-weight: 500;
            }
        }
    }

    form::-webkit-date-and-time-value {
        text-align: left;
    }

    .table-wrapper {
        overflow-x: auto; // 横に溢れたらスクロールさせる
        white-space: nowrap; // 改行させない
    }

    #transaction-table {
        width: 100%;
        min-width: 800px;
        border-collapse: collapse;
        /* 枠線を1本にまとめる */
        font-size: 14px;
        color: $black;

        th {
            background-color: $acc2;
            text-align: left;
            padding: 15px;
            border-bottom: 1px solid $acc2;
            font-weight: 500;
            position: relative;

            .filter_wrapper::after {
                content: '\e313';
                font-family: "Material Icons";
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                position: absolute;

            }
        }

        td {
            padding: 15px 15px 10px;
            border-bottom: 1px solid $acc1;

            &.btn_wrapper {
                padding: 0 !important;
            }

            &:nth-of-type(1) {
                width: 130px;
            }

            &:nth-of-type(2) {
                width: 105px;
            }

            &:nth-of-type(3) {
                width: 100px;
            }

            &:nth-of-type(4) {
                width: 320px;
            }

            &:nth-of-type(5) {
                width: 200px;
            }


        }

        tr {
            &:hover {
                background-color: $acc1;
            }

            &.is-day-start {
                td {
                    border-top: solid 2px $acc2;

                }
            }
        }

        tbody {
            font-family: 'Inter', 'Noto Sans JP', sans-serif;
            line-height: 1;
        }
    }

    .daily-total-row {
        background-color: $acc1-2;

        td {
            padding: 8px 12px;
        }
    }

    .history-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .column-btn {
        padding: 16.5px 15px 11.5px;
        border: none;
        cursor: poInter;
        font-size: 12px;
        transition: .2s;

        &.delete {
            background-color: $warning-light;

            &:hover {
                background-color: $warning;
                color: $white;
            }
        }

        &.edit {
            background-color: $acc2;
            margin-right: 15px;

            &:hover {
                background-color: $acc4;
                color: $white;
            }
        }
    }

    #edit-modal {
        position: fixed;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.1);
        display: none;


        .editform_container {
            position: fixed;
            width: 90%;
            max-width: calc(1360px - 10%);
            padding: 50px;

            @include mq(sm) {
                padding: 30px;
            }

            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
            background: $white;
            border-radius: 20px;
            box-shadow:(0px 0px 30px 10px rgba(0, 0, 0, 0.05)); 
        }

        &.active {
            display: block;
        }

        .btn_wrapper {
            position: absolute;
            top: 50px;
            right: 50px;

            @include mq(sm) {
                top: 30px;
                right: 30px;
            }
        }

        .close_btn {
            position: relative;
            display: inline-block;
            background: $acc2;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            transition: .2s;
            font-family: 'Material Icons';

            span {
                font-size:18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                background: #d95252;
                color: $white;
            }
        }

        h2 {
            line-height: 50px;
        }

    }


}

footer {
    margin: 0 auto;
    padding: 0 3.5%;
    max-width: 1360px;
    position: relative;

    @include mq(sm) {
        margin: 0 auto;
        max-width: 1360px;
        padding: 0 5%;
    }

    .copyright {
        font-size: 13px;
        line-height: 100px;
        color: #a8a8a8;
        font-family: 'Inter', sans-serif;
    }

    #app-version {
        font-size: 13px;
        color: #a8a8a8;
        margin-top: -35px;
        margin-right: 130px;
        font-family: 'Inter', sans-serif;

        @include mq(sm) {
            display: none;

        }

    }

    #logout-btn {
        padding: 10px 15px;
        border: solid 2px $acc1;
        color: #a8a8a8;
        border-radius: 7px;
        text-align: right;
        position: absolute;
        right: 0;
        top: 80%;
        transform: translateY(-50%);
        font-size: 14px;
        transition: .2s;

        &:hover {
            background-color: $acc4;
            border-color: $acc4;
            color: #fff;
            font-weight: 500;
        }

        @include mq(sm) {
            top: 50%;

        }
    }

    a {
        position: absolute;
        top: 80%;
        transform: translateY(-50%);
        right: 120px;
        font-family: 'Inter', sans-serif;
        color: #a8a8a8;

        &:hover {
            color: $acc4;
        }

        @include mq(sm) {
            top: 50%;

        }
    }
}