// features/_other.scss
@use "../foundation/variables" as v;

#other_settings {
    li {
        margin-bottom: 20px;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
        border: solid 1px v.$acc200;
        border-radius: 10px;
        padding: 10px 15px;
    }

    .link_text {
        font-family: 'Noto Sans JP', sans-serif;
        color: v.$acc300;

        span {
            font-family: 'Material Icons';
            font-size: 14px;
            padding-left: 5px;
        }
    }
}