@use "../foundation/variables" as v;

footer {
    margin: 0 auto 20px;
    width: 100%;
    position: relative;
    @include v.mq(sm) {
        margin-bottom:120px;
    }

    .footer{
        &__copy{
            font-size: 14px;
            line-height: 16px;
            color: v.$gray;
            span{
                margin-left:20px;
                font-size: 11px;
            }
            @include v.mq(sm){
                line-height: 1.75;
            }
        }
        &__line{
            display:none;
            height: 2px;
            background: v.$acc100;
            margin:15px 0;
            @include v.mq(sm){
                display:block;
            }
        }
        &__link-list{
            text-align: right;
            margin-top:-16px;
            line-height: 16px;
            @include v.mq(sm){
                text-align: left;
                margin: 0;
                line-height: 1.75;
            }
        }
        &__link-item{
            display:inline-block;
            margin-left:10px;
            @include v.mq(sm){
                margin-left:0;
                margin-right: 10px;
            }
        }
        &__link{
            font-size:14px;
            color: v.$gray;
            &:hover{
                color: v.$acc300;
                text-decoration: underline;
                text-underline-offset: 5px;
                text-decoration-thickness: 2px;
                text-decoration-color: v.$acc200;

            }
        }
    }
}